.meter { 
  height: 5px;
  position: relative;
  background: #f3efe6;
  overflow: hidden;
}

.meter span {
  display: block;
  height: 100%;
}

.progress {
  background-color: #e4c465;
  -webkit-animation: progressBar 3s ease-in-out;
  -webkit-animation-fill-mode:both; 
  -moz-animation: progressBar 3s ease-in-out;
  -moz-animation-fill-mode:both; 
}

@-webkit-keyframes progressBar {
0% { width: 0; }
100% { width: 100%; }
}

@-moz-keyframes progressBar {
0% { width: 0; }
100% { width: 100%; }
}

.progressBar {
  height: 10px;
  width: 150px;
  margin: 0 auto;
  background-color: green;
  width: 80%;
}

.square {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  display: inline-block;
  margin: 2px;
}

.highlight {
  background-color: yellow;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
